h1 {
    background-color: #002171;
    color: white;
    margin-bottom: 0; /* Añadido para eliminar espacio debajo del h1 */
}

h2 {
    margin-top: 0;
    padding: 12px; /* Añadido para eliminar espacio encima del h2 */
}

 nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    color: #1976D2;
    background-color: #BBDEFB;
    }
        
nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #1976D2;
}

a:hover {
    text-decoration: underline;
}

dt {
    color: rgb(201, 113, 50);
}

footer p a {
    color: #3ddec8;
}

.resort {
    font-weight: bold;
    color: #1976D2;
}

#contacto {
    /* Personalización futura */
    margin-top: 20px;
}